name: 4MM - Terraform Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Terraform Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "ap-southeast-1"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.5.0"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format Check
        run: terraform fmt -check

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: |
          terraform plan \
            -var="db_username=${{ secrets.DB_USERNAME }}" \
            -var="db_password=${{ secrets.DB_PASSWORD }}" \
            -var="app_version=${{ github.sha }}" \
            -var="docker_image=${{ secrets.DOCKERHUB_USERNAME }}/makanmystery:latest" \
            -var="chatbot_api_key=${{ secrets.CHATBOT_API_KEY }}"

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var="db_username=${{ secrets.DB_USERNAME }}" \
            -var="db_password=${{ secrets.DB_PASSWORD }}" \
            -var="app_version=${{ github.sha }}" \
            -var="docker_image=${{ secrets.DOCKERHUB_USERNAME }}/makanmystery:latest" \
            -var="chatbot_api_key=${{ secrets.CHATBOT_API_KEY }}"